{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
{% include "includes/alerts.html" %}
  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            {% if profile.image %}
            <img src="{{profile.image.url}}" alt="Profile" class="rounded-circle">
            {% else %}
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
            {% endif %}
            <h2>{{profile.full_name}}</h2>
            <h3>{{profile.headline}}</h3>
            <div class="social-links mt-2">
              <a href="{{profile.twitter_link}}" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="{{profile.twitter_link}}" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="{{profile.twitter_link}}" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="{{profile.twitter_link}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab"
                  data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                  Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">{{profile.about}}</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{profile.full_name}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Company</div>
                  <div class="col-lg-9 col-md-8">{{profile.company}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Job</div>
                  <div class="col-lg-9 col-md-8">{{profile.headline}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Country</div>
                  <div class="col-lg-9 col-md-8">{{profile.country}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{profile.full_address}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{profile.phone_number}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{profile.user.email}}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <div class="container">
                  <div class="col-md-12 mx-auto mt-5">
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form user_form %}
                      {% bootstrap_form profile_form %}
                      {% bootstrap_button button_type="submit" content="Edit Profile" %}
                    </form>

                  </div>
                </div><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <section class="section-conten padding-y" style="min-height:84vh">

                  <!-- ============================ COMPONENT LOGIN   ================================= -->



                  <div class="card mx-auto" style="max-width: 1000px; margin-top:50px;">

                    <div class="card-body">
                      <h4 class="card-title mb-4">Change Password</h4>
                      {% include 'includes/alerts.html' %}
                      <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>Current Password</label>
                          <input type="password" class="form-control" placeholder="Current Password"
                            name="current_password" required>
                        </div><br> <!-- form-group// -->
                        <div class="form-group">
                          <label>Create New Password</label>
                          <input type="password" class="form-control" placeholder="New Password" name="new_password"
                            required>
                        </div><br>
                        <div class="form-group">
                          <label>Confirm New Password</label>
                          <input type="password" class="form-control" placeholder="Confirm New Password"
                            name="confirm_password" required>
                        </div><br><!-- form-group// -->


                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block"> Submit </button>
                        </div> <!-- form-group// -->
                      </form>
                    </div> <!-- card-body.// -->
                  </div> <!-- card .// -->

                  <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
                  <br><br>
                  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


                </section>

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}