{% extends 'base.html' %}
{% load static %}
{% block body %}
<main id="main" class="main">
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-3">
                {% for day in days %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{day}}</h5>
                        <p class="card-text">{{day.caption}}</p>
                        <a href="{{day.get_absolute_url}}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>


{% endblock body%}